.sideBar {
  padding-right: 30px; }
  .sideBar img {
    width: 120px; }
  .sideBar .sideText {
    margin-top: 50px; }
    .sideBar .sideText .title {
      text-align: center;
      font-size: 22px;
      font-weight: bold;
      color: black; }
    .sideBar .sideText .article {
      text-align: left;
      font-size: 18px;
      margin-top: 15px;
      color: black; }
    .sideBar .sideText hr {
      margin: 0px; }
