.food{
    padding-top:50px;
    .title{
        font-size: 20px;
        color:#1C15DE;
        margin:10px 0px;
        text-align: center;
    }
    .description{
        font-size: 18px;
        color:black;
        text-align: justify;
        .rightImage{
            display:flex;
            img{
                height:20vh;
                width:auto;
            }
        }
        @media only screen and (max-width: 768px) {
            .rightImage{
                display:block;
                img{
                    width:100%;
                    height: auto;
                }
            }
        }
    }
}
